    /*REPRESENTAÇÂO DE CORES CSS EXADECIMAL
RGB:
RED  = #FF0000
GREEN = #00FF00
BLUE = #0000FF

# R_ R_ G_ G_ B_ B_ 
 
    0 = Ausencia de cor
    #000000

    F = maximo de cor
    #FFFFFF

REPRESENTAÇÂO DE CORES CSS DECIMAL

rgb(255;255;255)

RED  = rgb(255;0;0)
GREEN = rgb(0;255;0)
YELlOW= rgb(0;0;255)

    0 = Ausencia de cor
    255 = maximo de cor*/
    
    body {}
    
    #baner {
        width: 100%;
    }
    
    .principal {
        background: #CCCCCC;
        padding: 30px;
    }
    
    .titulo_centralizado {
        text-align: center;
    }
    
    p {
        text-align: center;
    }
    
    #missao {
        font-size: 20px
    }
    
    em strong {
        color: rgb(255, 0, 0);
    }
    
    .itens {
        font-style: italic
    }
    
    .beneficios {
        background: #FFFFFF;
        padding: 20px;
    }
    
    ul {
        display: inline-block;
        width: 20%;
        margin-right: 15%;
    }
    
    .imagem_beneficios {
        width: 50%;
        vertical-align: top;
    }
    
    .titulo_principal {
        padding-left: 20px;
    }